<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

<f:view>

</f:view>

<h:head>

</h:head>

<body>
<h:form>
    <h:outputLabel value="Hello, world"/>
    <h:commandLink action="pretty:projectList"
                   style="font-family: 'Segoe UI Semibold'; font-size: 28px; text-align: center"
                   class="linkTop">MAIN</h:commandLink>
</h:form>
</body>
</html>
