<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">
<f:view>
    <h1><h:outputLabel value="EDIT PROJECT"/></h1>
</f:view>
<h:head>
    <f:metadata>
        <f:viewParam name="projectEditFormId" value="#{projectController.id}"/>
        <f:viewAction action="#{projectController.setTempProjectDTO()}"/>
    </f:metadata>
</h:head>

<h:body>
    <h:form>
        <p:outputLabel for="projectName" value="NAME:"/>
        <br/>
        <p:inputText id="projectName" value="#{projectController.tempProjectDTO.name}" style="width: 300px"/>
        <br/>

        <p:outputLabel for="projectDescription" value="DESCRIPTION:"/>
        <br/>
        <p:inputText id="projectDescription" value="#{projectController.tempProjectDTO.description}"
                     style="width: 300px"/>
        <br/>

        <p:outputLabel for="projectDateBegin" value="DATE BEGIN:"/>
        <br/>
        <p:calendar id="projectDateBegin" value="#{projectController.tempProjectDTO.dateBegin}" style="width: 300px"/>
        <br/>

        <p:outputLabel for="projectDateEnd" value="DATE END:"/>
        <br/>
        <p:calendar id="projectDateEnd" value="#{projectController.tempProjectDTO.dateEnd}" style="width: 300px"/>
        <br/>

        <p:outputLabel for="projectStatus" value="STATUS:"/>
        <br/>
        <p:selectOneMenu id="projectStatus" value="#{projectController.tempProjectDTO.statusType}" style="width: 300px">
            <f:selectItems value="#{projectController.statusTypeMap.entrySet()}" var="entry"
                           itemValue="#{entry.key}" itemLabel="#{entry.value}"/>
        </p:selectOneMenu>

        <p/>

        <p:commandButton value="SAVE" action="#{projectController.edit()}"/>
    </h:form>
</h:body>
</html>
